
#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 450px;
    height: 450px;
}
.cell{
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 147px;
    line-height: 150px;
}
.cross{
    color: blue;
}
.circle{
    color: red;
}